# zadanie 1
1zadanie/Materialy_k_cviceniam_I
1zadanie/TDCONFIG.TD
1zadanie/hlwrld.asm
1zadanie/parking.asm
1zadanie/*.exe
1zadanie/*.obj
1zadanie/*.map
1zadanie/*.txt

# zadanie 2
2zadanie/**
!2zadanie/*.c
2zadanie/stash.c

# zadanie3

# all
*.pdf
*.zip
.vscode/